html{
    scroll-behavior: smooth;
}
:root::-webkit-scrollbar{
    display: none;
}
input:focus,textarea:focus{
    outline: none;
}
body{
    margin:0px;
    padding: 0px;
    background-color: whitesmoke;
    text-align: center;
}
header,main{
    margin-inline: 3%;
}
/* common activity */
a{
    text-decoration: none;
    background-color: none;
}
a, button{
    border: none;
    padding: 5px;
    font-weight: 500;
    background-color:none;
    /* border-bottom: 1px solid white; */
    border-radius: 5px;
    cursor: pointer;
}
 button:hover{
    background-color:black;
    color: white;
 }
button:active{
    background-color:blue;
 }
header{
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    padding:15px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}
nav{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
section{
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    padding-top: 40px;
    /* border: 1px solid black; */
}
/* contact us */

.contact-container{
    /* background-color: #323232; */
    height: 500px;
    width: 1200px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
}
.form-container{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.email-box{
    border-radius: 16px;
    padding: 15px;
    background-color: aliceblue;
    border: 1px solid black;
}
input{
    padding: 10px;
    border: none;
}
.text-box{
    padding: 15px;
    border: 1px solid black;
    border-radius: 16px;
}
.btn-submit{

}
.contact-section{
    /* border: 1px solid black; */
    width: 90%;
    height: 70%;
    padding: 27px;
    display: flex;
    justify-content: center;

}
.form-area{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 27px;
    border-radius: 27px;
    width:80%;
}
.email-inp{
    width:70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-size: large;
}
.message-input{
    width: 70%;
    padding: 10%;
    border: none;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-size: large;
    height: 200px;

}
.btn-send{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight:bold ;
    background-color: black;
    color: white;
    width:30%;
}
@media screen and (min-width:50px) and (max-width:480px){
   html,body{
    min-width:360px;
   }
    body{
        margin:0px;
        padding: 0px;
        /* background-color: whitesmoke; */
        text-align: center;
    }
    header,main{
        margin-inline: 0%;
    }
    header{
        background-color:blueviolet;
    }
    nav{
        width: -webkit-fill-available;
         margin-left:-5%;
        background-color: #323232;
        padding: 5px;
        position: fixed;
        bottom:0;
    }
    a > button{
        background-color:#323232;
        color:white ;
    }
    button:hover{
        background-color:blueviolet;
        color: whitesmoke;
    }
}