*{
    background-color: rgb(2, 192, 192);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:90px 400px 80px;
}
.container .box{
    background-color: rgb(216, 216, 216);
    padding: 20px;
    margin: 1px;
}
.header{
    grid-column: 1/4;
}
.menu{
    grid-row: 2/4;
}
.main{
    grid-column: 2/3;
}
.footer{
    grid-column:2/4;
}