<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./responsiveStyle/styleTL.css">
  </head>
  <body>
    <div class="container">
        <div class="nav">
          <div class="startNav">
            <h1><span>Logo</span> <span class="heading">Heading</span></h1>            
          </div>
        <div class="middleNav">
            <div class="btn-home">
                <button class="btn">Home</button>
            </div>
            <div class="btn-home">
                <button class="btn">About</button>
            </div>
            <div class="btn-home">
                <button class="btn">contact</button>
            </div>
            <div class="btn-home">
                <button class="btn">help</button>
            </div>
        </div>
        <div class="endNav">
          <button class="btn-fun">Login</button>
          <button class="btn-fun">Register</button>
        </div>
      </div>
      <div class="content-container">
        <div class="left-content">
            <div>
                <img src="./codePhoto1.jpg" alt="photo1" >
            </div>
            <div>
                <img src="./codePhoto2.jpg" alt="photo2" >
            </div>
        </div>
        <div class="right-content">
            <div class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dignissimos, vero ducimus mollitia fugiat fugit ipsam? Tenetur quasi itaque, esse dolore voluptates sit nobis nemo facilis dicta natus harum iste.
            In delectus exercitationem harum eligendi facilis. Ea quam earum qui sed minus consequuntur, vitae consequatur suscipit aspernatur ipsum similique. Facere et non cupiditate consectetur velit quos repellendus cumque assumenda voluptatem.
            Incidunt odit necessitatibus molestias quas molestiae sed laborum minus quisquam iusto magni adipisci a itaque accusamus vero officia culpa soluta asperiores, nihil labore. Sit vero fuga repellat facilis modi dolor.
            Dolorum nesciunt dolore ad, nobis nemo fuga non quidem sint vero. Fuga placeat nam dignissimos vel repudiandae, tempora neque modi nostrum labore eos quis adipisci ad. Ducimus quaerat iure accusantium.
            Omnis praesentium fuga perferendis? Dolores, atque quas velit rem excepturi harum eligendi enim. Obcaecati, animi ad! Dolore quos quod voluptatum beatae saepe tenetur est. Minus fugit dolorem in quos laboriosam?
            Tempore aliquam nesciunt aut adipisci perspiciatis magnam non maiores voluptates neque vero ipsa odit, placeat nulla accusantium molestias eaque, vitae blanditiis itaque inventore incidunt. Molestias unde cumque neque qui necessitatibus.
            Totam iure itaque aut harum vel suscipit praesentium natus non optio! Nobis officiis cumque laborum quod sapiente inventore et facilis delectus. Temporibus hic, voluptatibus quod aspernatur minima cum exercitationem. Natus!
            Tempore placeat quibusdam delectus unde voluptas rerum. Sunt nihil eius soluta ducimus, labore provident vero quam inventore pariatur. Architecto aspernatur alias repellat ipsum quod reiciendis quis veritatis quo unde quas!
            Nulla tenetur a esse architecto recusandae magni, dicta id est odio aspernatur nam omnis quidem, officia mollitia quae ducimus sunt eligendi praesentium! Veritatis doloribus, cum iusto corporis dicta quo explicabo!
            Eaque veritatis, pariatur, commodi fugiat et vero nisi suscipit consectetur ullam cumque vel illo veniam, deleniti doloremque incidunt placeat nulla. Fugiat explicabo, consectetur velit ipsum assumenda error fuga quo tempore.
            Laudantium quos ipsum, dignissimos error sunt alias cumque nulla exercitationem, asperiores nam vel placeat! Impedit, molestias quod omnis doloribus officia quae sunt? Accusantium delectus quos sit aperiam nihil vero totam!
            Consectetur ducimus quae nemo assumenda voluptas, beatae dolor quod nulla nisi in quos adipisci possimus debitis maxime saepe, fugit vero deserunt reprehenderit illum? Cumque dolorum a non cum. Necessitatibus, modi.
            In doloribus dolorum fugit, laboriosam nisi, odit ipsam ducimus quam accusamus odio consequatur voluptatibus esse? Nemo, ratione! Voluptatum ullam sequi, maxime similique, laboriosam delectus unde quam excepturi deleniti, in at!
            A reiciendis, dignissimos recusandae voluptatem possimus praesentium, laborum incidunt illo molestiae asperiores corporis nisi. Expedita ipsam optio, iure nemo dolore recusandae facilis illum eligendi sed odit odio dignissimos fugit sunt.
            Consequuntur ex nostrum sunt laboriosam adipisci illum maiores molestiae ipsam, magnam accusamus minus non modi? Consequuntur facere alias aut dolorum tempore esse, obcaecati veritatis quibusdam temporibus similique necessitatibus eos. Earum!
            Ad quo dolore enim dolorem tempora labore vero dolores excepturi aliquam dolorum perferendis soluta perspiciatis recusandae temporibus adipisci explicabo, natus pariatur doloremque debitis. Perferendis ducimus, eum unde animi magni dolorem.
            Soluta veniam atque alias repellendus velit eaque et eum similique laborum? Minima necessitatibus eveniet obcaecati corporis dolorem voluptatum, molestiae reprehenderit dignissimos quos blanditiis, voluptatem tenetur est unde, impedit voluptatibus ut.
            Natus molestiae aliquid soluta assumenda nobis, reprehenderit vero perferendis vel eligendi distinctio at veritatis libero porro. Corrupti culpa, optio, est sequi in temporibus autem tempora labore nulla illo, laudantium sed?
            Porro dicta neque eius voluptatem. Nemo ab maxime praesentium. Unde aperiam repellendus repudiandae corporis, blanditiis culpa inventore accusamus, maxime quibusdam velit qui earum doloremque reiciendis. Nisi necessitatibus repellat aspernatur sit?
            Exercitationem quae dolorum nemo dolore vitae nesciunt eveniet, aperiam dolores sit. Modi doloremque nam recusandae. Totam reprehenderit assumenda nisi. Similique quo nemo quae asperiores, dolore quam sit natus et voluptates.</div>
        </div>
      </div>
    </div>
  </body>
</html>
